<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sandbox Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="form-container column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">Your opinion is important for us</h1>
            <form
                    id="application-form"
            >
                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                        <input v-model="submission.firstName" class="input" type="text" placeholder="First Name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control">
                        <input v-model="submission.lastName" class="input" type="text" placeholder="Last Name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email <span class="has-text-danger">*</span></label>
                    <div class="control">
                        <input v-model="submission.emailAddress" class="input" type="email" placeholder="Email">
                    </div>
                    <p v-if="validateEmail()" class="help is-danger">This email is invalid</p>
                </div>

                <div class="field">
                    <label class="label">Inquiry/Comment <span class="has-text-danger">*</span></label>
                    <div class="control">
                        <textarea v-model="submission.inquiry" class="textarea" placeholder="Inquiries or comments"></textarea>
                    </div>
                    <p v-if="errors.inquiry" class="help is-danger">This field is required</p>
                </div>
                <div class="field">
                    <label class="label">Recomendations <span class="has-text-danger">*</span>
                        <span v-on:click="addRecommendation" class="icon has-text-success">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                    </label>
                    <p v-if="errors.recommendations" class="help is-danger">One recomendation is required</p>
                </div>
                <div class="field" v-for="(recommendation,index) in submission.recommendations" :key="index">
                    <div class="control has-icons-right">
                        <input v-model="recommendation.text" class="input" type="text" placeholder="Let us know your recommendations">
                        <span v-on:click="removeRecommendation(index)" v-if="index !=0 " class="icon has-text-danger is-right" style="pointer-events: initial">
                                        <i class="fas fa-minus-circle"></i>
                                </span>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button v-on:click="submitForm" type="submit" class="button is-link">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>