<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sandbox Example -Submissions-</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
    <div id="app" class="container">
        <div v-if="submissions.length > 0" class="column is-centered">
            <h1 class="title has-text-centered">Submissions</h1>
            <table class="table table-bulma is-centered">
                <thead>
                    <tr>
                        <th>First Name</th><th>Last Name</th><th>Email Addres</th><th>Inquiry/Comments</th><th>Recommendations</th><th>Submission date</th><th>Inquiry/Comments length</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="s in submissions">
                        <td>{{s.firstName}}</td>
                        <td>{{s.lastName}}</td>
                        <td>{{s.emailAddress}}</td>
                        <td>{{s.inquiry}}</td>
                        <td>{{formatRecommendations(s.recommendations)}}</td>
                        <td>{{formatDate(s.createdAt)}}</td>
                        <td>{{numberOfCharacters(s.inquiry)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="js/listSubmissions.js"></script>
</body>
</html>